// Map
//
// Styles map and overwrites leaflet css.
.map {
  &__popup  {
    min-width: 360px;

    // Overwrite map popup inline CSS.
    bottom: 0 !important;
    left: 0 !important;
    margin: 0 !important;

    .club-teaser {
      min-width: 360px;
      width: 100%;
    }

    .shadow-box {
      box-shadow: none;
    }
  }

  .leaflet-popup-content-wrapper {
    padding: 0;
    border-radius: 2px;
  }

  .leaflet-popup-content {
    width: 100%;
    margin: 0;
  }

  .leaflet-popup-tip-container {
    display: none;
  }
}
