@import './../../base-styles/init/init.scss';

// Communication channel
//
// Themes communication channels that appear at leader-corner and contribute
// pages.
.communication-channels {
  text-align: center;
  margin-bottom: 5px;
  text-decoration: none;

  &__image {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;

    &-wrapper {
      width: 64px;
      height: 64px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 18px;
    }
  }

  &__title {
    @include font-size(20px);
    display: block;
    width: 100%;
    color: color('black');
    transition: .2s cubic-bezier(.190, 1.000, .220, 1.000); /* easeOutExpo */
  }

  &:hover,
  &:focus {
    .communication-channels__title {
      color: color('brand')
    }
  }

  &__list{
    width: 100%;

    &-wrapper {
      margin-top: 32px;
      display: flex;
      justify-content: space-around;
    }
  }
}
