@import './../../base-styles/init/init.scss';

.communication-channel {
  text-align: center;

  &__title {
    @include font-size(20px);
    display: block;
    width: 100%;
    color: black;
  }

  &__image {
    max-width: 64px;
    margin-bottom: 18px;
  }
}
