@import "../../base-styles/init/init";

// Organization for front page listing.
.organization-teaser {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  opacity: .5;
  padding: 10px 20px;

  @include breakpoint($tablet) {
    padding: 0 10px;
  }

  &:hover,
  &:focus {
    opacity: 1;
  }
}
