@import './../../base-styles/init/init';

/*
  Adds basic style for a filter component.
*/

.filter {
  background-color: color('white');
  display: inline-block;
  padding: 15px;

  &__wrapper {
    @include margin-top(20px);
    display: flex;
    width: 100%;
    justify-content: flex-start;

    @include breakpoint($tablet) {
      justify-content: flex-end;
      margin-top: 0;
    }

    .filter {
      @include padding(10px);
      @include padding-left(25px);
      @include padding-right(25px);
      position: relative;
      width: 100%;

      @include breakpoint($tablet) {
        width: 50%;
        &::before {
          content: '';
          position: absolute;
          height: 100%;
          width: 1px;
          display: inline-block;
          background-color: #cccccc;
          top: 0;
          left: 0;
        }
      }

      &:first-child {
        &::before {
          content: none;
        }
      }

      &--search {
        border-top: 1px solid #ccc;
        width:100%;

        @include breakpoint($tablet) {
          border: none;
          width: auto;
        }

        label {
          padding: 0;
          color: color('blue-dark');

          svg {
            width: 15px;
            height: 15px;
            vertical-align: middle;
          }
        }

        input {
          padding: 0;
          padding-top: 2px;
          padding-bottom: 2px;
          border: none;
          margin-left: 10px;

          &::placeholder {
            opacity: 1;
          }
        }
      }

      &--toggle {
        display: flex;
        justify-content: flex-start;

        @include breakpoint($tablet) {
          justify-content: center;
        }
      }
    }
  }

  &__wrapper-inner {

    min-width: unset;
    width: 100%;
    width: 100%;
    background: color('white');
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;

    @include breakpoint($tablet) {
      max-width: 540px;
      flex-wrap: nowrap;
    }

  }
}

.filter--toggle {
  display: flex;
}
