@import "../../base-styles/init/init";
// Banner
//
// Banner is used on landing pages to highlight content. It appears on home,
// about-us and organizations pages.
//
// .banner--home          - The home page banner and banner decorations.
// .banner--about         - The about page banner and banner decorations.
// .banner--organizations - The organizations page banner and banner
//                             decorations.
//
.banner {
  position: relative;
  margin-top: -40px;
  overflow: hidden;
  display: flex;
  width: 100%;

  @include breakpoint($tablet) {
    margin-top: -50px;
  }

  &__image {
    height: 250px;
    position: relative;

    > div {
      width: 100%;
    }

    @include breakpoint(0 $tablet - 1px) {
      margin-top: -25px;
      margin-bottom: -25px;
    }

    @include breakpoint($tablet) {
      height: 300px;
    }

    @include breakpoint($desktop) {
      height: 350px;
    }

    &-wrapper {
      width: 100%;
      min-width: 100%;
    }
  }

  &__content {
    width: 100%;
    min-width: 100%;
    transform: translateX(-100%);
    color: color('white');
    padding: 28px 20px;
    display: flex;
    align-items: flex-end;

    @include breakpoint($tablet) {
      padding: 30px 30px;
    }

    @include breakpoint($desktop) {
      padding: 42px 95px;
    }

    &-inner {
      max-width: 400px;
    }
  }

  &__text {
    @include font-size(16px);
    @include line-height(21px);
    font-weight: bold;
    margin-top: 9px;

    @include breakpoint($tablet) {
      @include font-size(17px);
      @include line-height(22px);
      letter-spacing: .4px;
    }

    @include breakpoint($desktop) {
      @include font-size(18px);
      @include line-height(24px);
      letter-spacing: .8px;
    }
  }

  .text,
  .title {
    color: color('white');
  }

  &--organizations {
    .banner__text {
      right: 20px;
      top: 20px;
      max-width: 160px;

      @include breakpoint($tablet) {
        max-width: 220px;
        right: 40px;
        top: 50%;
        transform: translateY(-50%);
      }

      @include breakpoint($desktop) {
        right: 80px;
      }
    }
  }

  &--about {
    .banner__text {
      top: 0;
      left: 50px; // icon-width (30px)  +  padding.


      @include breakpoint($tablet) {
        top: 50%;
        transform: translateY(-50%);
        left: 115px;
        max-width: 245px;
      }
    }

    span {
      display: block;
      position: relative;

      &:not(:first-child)::before {
        content: '+';
        position: absolute;
        bottom: 0;
        left: -30px;
      }

      &:last-child::before {
        content: '=';
      }
    }
  }
}
