@import "../../base-styles/init/init";
// Banner
//
// Banner is used on landing pages to highlight content. It appears on home,
// about-us and organizations pages.
//
// .banner--home          - The home page banner and banner decorations.
// .banner--about         - The about page banner and banner decorations.
// .banner--organizations - The organizations page banner and banner
//                             decorations.
//
.banner {
  position: relative;
  margin-top: -40px;

  @include breakpoint($tablet) {
    margin-top: -50px;
  }

  &__image {
    top: 0;
    position: absolute;
    left: 0;
  }

  &__text {
    position: absolute;
    color: color('white');
  }

  .text,
  .title {
    color: color('white');
  }

  &--home {
    .banner__text {
      // max-width: 320px;
      left: 20px;
      top: 0;

      .title {
        max-width: 220px;
      }

      @include breakpoint($tablet) {
        max-width: 350px;
        bottom: 42px;
        left: 95px;
        top: auto;

        .title {
          max-width: 350px;
        }
      }
    }
  }

  &--organizations {
    .banner__text {
      right: 20px;
      top: 20px;
      max-width: 160px;

      @include breakpoint($tablet) {
        max-width: 220px;
        right: 40px;
        top: 50%;
        transform: translateY(-50%);
      }

      @include breakpoint($desktop) {
        right: 80px;
      }
    }
  }

  &--about {
    .banner__text {
      top: 0;
      left: 50px; // icon-width (30px)  +  padding.


      @include breakpoint($tablet) {
        top: 50%;
        transform: translateY(-50%);
        left: 115px;
        max-width: 245px;
      }
    }

    span {
      display: block;
      position: relative;

      &:not(:first-child)::before {
        content: '+';
        position: absolute;
        bottom: 0;
        left: -30px;
      }

      &:last-child::before {
        content: '=';
      }


    }
  }
}
