@import "../../base-styles/init/init";
// Banner
//
// Banner is used on landing pages to highlight content. It appears on home,
// about-us and organizations pages.
//
// .banner--about         - The about page banner and banner decorations.
// .banner--organizations - The organizations page banner and banner
//                             decorations.
.banner {
  position: relative;
  margin-top: -40px;
  overflow: hidden;
  display: flex;
  width: 100%;

  @include breakpoint($tablet) {
    margin-top: -50px;
  }

  &__title-element {
    display: block;

    + .banner__title-element {
      margin-top: -6px;
    }
  }

  &__image {
    height: 250px;
    position: relative;

    > div {
      width: 100%;
    }

    @include breakpoint(0 $tablet - 1px) {
      margin-top: -25px;
      margin-bottom: -25px;
    }

    @include breakpoint($tablet) {
      height: 300px;
    }

    @include breakpoint($desktop) {
      height: 350px;
    }

    &-wrapper {
      width: 100%;
      min-width: 100%;
    }
  }

  &__content {
    width: 100%;
    min-width: 100%;
    transform: translateX(-100%);
    color: color('white');
    padding: 28px 20px;
    display: flex;
    align-items: flex-end;

    @include breakpoint($tablet) {
      padding: 30px 30px;
    }

    @include breakpoint($desktop) {
      padding: 42px 95px;
    }

    &-inner {
      max-width: 400px;
      position: relative;
    }
  }

  &__text {
    @include font-size(16px);
    @include line-height(21px);
    font-weight: bold;
    margin-top: 9px;

    @include breakpoint($tablet) {
      @include font-size(17px);
      @include line-height(22px);
      letter-spacing: .4px;
    }

    @include breakpoint($desktop) {
      @include font-size(18px);
      @include line-height(24px);
      letter-spacing: .8px;
    }
  }

  .text,
  .title {
    color: color('white');
  }

  &--organizations {
    picture,
    img {
      object-position: right center !important;
    }

    .banner__image {
      width: 100%;
      max-width: 100%;
    }

    .banner {
      &__content {
        align-items: center;
        justify-content: flex-end;


        &-inner {
          padding-right: 60px;
        }
      }

      &__wave-large {
        position: absolute;
        top: -60px;
        left: 50px;
        transform: rotate(15deg);
        width: 58px;
        height: 20px;
      }

      &__wave {
        position: absolute;
        top: 45px;
        right: -10px;
        width: 22px;
        height: 22px;

        @include breakpoint($desktop) {
          right: -30px;
        }
      }

      &__cube {
        position: absolute;
        bottom: -60px;
        right: -10px;
        width: 63px;
        height: 57px;

        @include breakpoint($tablet) {
          bottom: -60px;
          right: -20px;
        }
      }
    }
  }

  &--about {
    .banner {
      &__wave-large {
        position: absolute;
        top: -30px;
        right: 20px;
        transform: rotate(15deg);
        width: 58px;
        height: 20px;
      }

      &__wave {
        position: absolute;
        bottom: -50px;
        left: -10px;
        width: 22px;
        height: 22px;

        @include breakpoint($desktop) {
          bottom: -30px;
          left: -50px;
        }
      }

      &__cube {
        position: absolute;
        bottom: -60px;
        right: -20px;
        width: 63px;
        height: 57px;
      }

      &__content {
        align-items: center;
        margin-top: -25px;
      }
    }

    .banner__title-element {
      display: block;
      position: relative;
      margin-left: 30px;

      &:not(:first-child)::before {
        content: '+';
        position: absolute;
        bottom: 0;
        left: -30px;
      }

      &:last-child::before {
        content: '=';
      }
    }
  }
}
