@import './../../base-styles/init/init';

.club-full {
  &__cover-wrapper {
    background: red;
    min-height: 200px;
    max-height: 200px;
  }

  &__title-wrapper {
    @include padding-left(20px);
    display: inline-block;
  }

  &__profile-picture-section {
    display: inline-block;
    width: 265px;
    position: relative;
  }

  &__profile-picture-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 180px;
    height: 180px;
    border: 10px solid color('white');
    border-radius: 50px;
    overflow: hidden;
    background: black;
  }

  &__profile-picture {
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
  }

  &__body {
    @include margin-top(68px);
  }

  &__cta {
    @include padding-left(65px);
    @include margin-bottom(20px);
    @include padding-top(20px);
    @include padding-bottom(20px);
    max-width: 350px;
    min-width: 350px;
    width: 100%;
    background: red;
    border-radius: 0;
    background-color: color('brand');
    color: color('seafoam-blue');
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.25);
    position: relative;
    display: block;
    max-height: 60px;

    &:hover {
      background-color: color('seafoam-blue');
      color: color('brand');
    }
  }

  &__cta-icon {
    position: absolute;
    left: 30px;
  }

  &__info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-start;
  }
}
