@import './../../base-styles/init/init';

/*
  The full view of a club.
  Themes the layout of the page, the header and some decorative shapes.
*/

.club-full {
  .button {
    svg {
      margin-right: 4px;
    }
  }

  &__cover-wrapper {
    @include margin-top(-50px);
    @include margin-bottom(90px);
    min-height: 200px;
    max-height: 200px;

    @include breakpoint($tablet) {
      @include margin-bottom(0);
    }
  }

  &__header-bottom {
    margin-bottom: 20px;

    @include breakpoint($tablet) {
      display: flex;
      margin-bottom: 60px;
    }
  }

  &__title-wrapper {
    display: inline-block;
    text-align: center;
    width: 100%;

    @include breakpoint($tablet) {
      @include padding-left(20px);
      text-align: left;
      width: 100%;
    }
  }

  &__title {
    @include breakpoint($mobile) {
      @include margin-top(11px);
    }
  }

  &__subtitle {
    @include font-size(20px);
    color: color('grey-dark');
    line-height: 1.15;
    margin: 0;
  }

  &__description {
    @include margin-top(1);

    @include breakpoint($desktop) {
      @include margin-top(0);
    }
  }

  &__profile-picture-section {
    display: inline-block;
    width: 100%;
    position: relative;

    @include breakpoint($tablet) {
      width: 265px;
      flex-shrink: 0;
    }
  }

  &__profile-picture-wrapper {
    position: absolute;
    top: -200px;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    width: 180px;
    height: 180px;
    border: 10px solid color('white');
    border-radius: 50px;
    overflow: hidden;
    display: flex;

    @include breakpoint($tablet) {
      right: 0;
      left: auto;
      transform: none;
      top: -90px;
    }
  }

  &__profile-picture {
    margin: auto;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__body {
    @include margin-top(1);

    @include breakpoint($desktop) {
      @include margin-top(1.1);
    }
  }

  // The become a member button.
  &__cta.button {
    @include margin-bottom(20px);
    @include padding-top(20px);
    @include padding-bottom(20px);
    @include font-size(14px);
    text-align: left;
    font-weight: 600;
    width: 100%;
    border-radius: 0;
    background-color: color('brand');
    color: color('seafoam-blue');
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
    position: relative;
    display: block;
    text-align: center;

    &:hover {
      background-color: color('seafoam-blue');
      color: color('brand');
    }
  }

  // The wrapper of the information box.
  &__info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;

    @include breakpoint($desktop) {
      align-content: flex-start;
      flex-direction: row;
    }
  }

  &__members-section {
    position: relative;
    @include margin-top(2);
  }

  &__members-shape {
    position: absolute;
    right: -100px;

    &--waves {
      height: 86px;
      width: 138px;
      transform: rotate(15deg);
      opacity: 0.15;
      bottom: -50px;
      right: -40px;

      @include breakpoint($desktop) {
        right: -138px - 278px;
      }
    }
  }

  &__cover-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  &__cover-wrapper {
    max-height: 200px;
    position: relative;
    z-index: -1;
  }

  .text-input {
    padding: 5px 10px;
    margin: 10px 0;
    width: 100%;
    text-align: left;

    &:focus,
    &:hover {
      padding: 5px 10px;
    }
  }

  &__login {
    @include margin-bottom(1);
  }

  textarea {
    min-height: 200px;
  }

  &__sidebar-content {
    width: 100%;

    input {
      width: 100%;
    }
  }

  &__button-list {
    display: flex;
  }

  &__info-container {
    display: flex;
    align-items: flex-start;
  }
}
