@import "../../base-styles/init/init";

// Layout scroll component.
// Scroll horizontally on mobile, then become one column layout.
//
// .layout-scroll--stretch-items - Stretch items to 80% with constrains.
.layout-scroll,
%layout-scroll {
  @include breakpoint(0 $tablet - 1px) {
    display: flex;
    background-color: color('grey-dark-another');
    background-color: rgba(216, 216, 216, 0.15);
    mix-blend-mode: multiply;
    margin-top: 8px;
    margin-left: -$padding-mobile;
    margin-right: -$padding-mobile;
    padding-left: $padding-mobile;
    padding-right: $padding-mobile;
    padding-top: 15px;
    overflow: auto;
    box-shadow: inset 0 -1px 1px 0 rgba(0, 0, 0, 0.0525), inset 0 1px 1px 0 rgba(0, 0, 0, 0.0525);

    &__item {
      margin-left: 0;
      margin-right: $gutters-mobile;
      margin-bottom: 15px;
      display: flex;

      &:last-child {
        &::after {
          display: block;
          width: $padding-mobile;
          content: "";
        }
      }
    }

    &--stretch-items {
      .layout-scroll,
      %layout-scroll {
        &__item {
          flex-shrink: 0;
          width: 80%;
          min-width: 265px;
          max-width: 350px;
        }
      }
    }
  }
}
