@import './../../base-styles/init/init';

.user-menu {
  &__popup {
    background-color: white;
  }

  &__icon {
    @include margin-right(7px);
  }

  @include breakpoint($tablet) {
    position: relative;
    bottom: auto;

    &__popup {
      position: absolute;
      right: 0;
      bottom: -25px;
      background-color: white;
      transform: translateY(100%);
    }
  }
}
