.teaser-box {
  width: 100%;
  margin-bottom: 15px;

  &__wrapper-link {
    display: flex;
    align-items: center;
  }

  &__image-wrapper {

  }

  &__image {
    width: 100px;
    max-width: 100px;
    // height: 80px;
    // border-radius: 2px;
  }

  &__text {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__title {

  }

  &__date {
    display: block;
    text-align: right;
    // TODO: add me to colors
    color: #9b9b9b;
  }
}
