@import './../../base-styles/init/init.scss';
@import './../../base-styles/base/title/_title.scss';

.teaser-box {
  width: 100%;
  margin-bottom: 15px;

  &__wrapper-link {
    display: flex;
    align-items: center;
  }

  &__image-wrapper {

  }

  &__image {
    width: 100px;
    max-width: 100px;
    // height: 80px;
    // border-radius: 2px;
  }

  &__text {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__title {

  }

  &__date {
    display: block;
    text-align: right;
    // TODO: add me to colors
    color: #9b9b9b;
  }

  &__list {
    display: flex;
  }

  &__list-wrapper {
    margin-top: 35px;
  }

  &--short {
    margin-top: 26px;

    .teaser-box {
      &__wrapper-link {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        background-color: #ffffff;
        max-width: 160px;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 100%;
      }

      &__image-wrapper {
        width: 100%;
        height: 100%;
        display: block;
      }

      &__image {
        display: block;

      }

      &__text {
        font-size: 14px;
        line-height: 11px;
        text-align: left;
        width: 100%;
        display: block;
        padding: 10px;
        background-color: #d8d8d825;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
      }

      &__url {
        font-size: 10px;
        line-height: 11px;
        display: block;
      }
    }
  }

  &--large {
    padding: 25px;

    &__list {
      margin-top: 25px;
    }

  }
}
