@import './../../base-styles/init/init.scss';

// overide layout-2col__col paddings
.layout-2col__col.member-training-resources {
  padding-top: 0;
  padding-bottom: 0;
}

.member-training-resources {
  @include margin-top(0px);

  @include breakpoint($tablet) {
    @include margin-top(25px);
  }

  p {
    @include margin(0);
    @include margin-top(14px);
  }

  &__content {
    @include padding-left(15px);
    @include padding-right(15px);
    @include padding-bottom(26px);
    @include padding-top(26px);
    display: flex;

    @include breakpoint($tablet) {
      @include padding-bottom(25px);
    }
  }

  &__wrapper-link {
    padding: 0;
  }

  &__image-wrapper {
    min-width: 53px;
    width: 53px;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include breakpoint($tablet) {
      height: 100px;
      width: 100px;
    }
  }

  &__image {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }

  &__text {
    @include padding-top(5px);
    @include padding-left(12px);
    display: flex;
    flex-direction: column;
    color: color('grey-dark');
    width: 100%;

    &:last-child {
      @include margin(0);
    }

    @include breakpoint($tablet) {
      @include padding-left(23px);
    }
  }

  &__inner {
    display: flex;
  }

  &__list {
    display: flex;
  }

  &__list-wrapper {
    // margin-top: 35px;
    background-color: color('grey-dark-another');
    box-shadow: 0px -1px 1px 0px rgba(0,0,0,0.35);

    @include breakpoint($tablet) {
      background-color: transparent;
      box-shadow: none;
    }
  }

  &__list-title {
    // @include margin-left(20px);
    // @include margin-bottom(8px);
    //
    // @include breakpoint($tablet) {
    //   margin: 0;
    // }
  }
}
