@import './../../base-styles/init/init';

//  User popup
//
//  The popup that a logged in user sees at the header when clicks at his/her
//  image.

.user-popup {
  margin: 0;
  padding: 7px 0;
  line-height: 16px;
  background-color: white;

  &::before {
    content: '';
    width: 50px;
    height: 25px;
    position: absolute;
    right: -1px;
    top: 1px;
    border-radius: 4px;
    background-color: white;
    transform: rotate(45deg);
    z-index: -1;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
  }

  &__item {
    padding: 0;

    &:hover {
      background-color: rgba(89, 225, 207, 0.15);
      cursor: pointer;
    }
  }

  &__link {
    padding: 8px 16px;
    display: block;

    &--logout {
      border: none;
      background-color: transparent;
      color: color('red');
      width: 100%;
      text-align: left;

      &:focus,
      &:active,
      &:hover{
        border: none;
        background-color: transparent;
      }
    }
  }

  @include breakpoint($tablet) {
    &__overlay {
      position: absolute;
      background-color: color('pale-grey');
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      height: 100%;
      top: 140px;
      opacity: 0.7;
    }
  }
}
