@import './../../base-styles/init/init';

.footer {
  width: 100%;
  color: color('white');
  background-image: linear-gradient(color('footer-bg-dark'), color('footer-bg-light'));

  ul {
    list-style: none;
  }

  a {
    color: color('white');

    &:hover {
      text-decoration: underline;
    }
  }

  // Footer top region.
  &__items-wrapper {
    display: flex;
    padding: 75px 0 30px;
    justify-content: space-between;
  }

  &__item {
    min-width: 30%;

    &--information {
      flex-grow: 1;
    }

    &--navigation {
      flex-grow: 2;
    }

    &--social {
      flex-grow: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__information-link-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    padding-right: 30px;
  }

  // Logo.
  &__logo {
    margin-right: auto;
  }

  &__ossn-logo {
    font-family: $zilla-slab;
    width: 202px;
    font-size: 26px;
    line-height: 28px;
    font-weight: 600;
    letter-spacing: 0.3px;
    color: color('white');
    display: block;
  }

  &__mozilla-logo {
    width: 65px;
    height: 21px;
    transition: background-size .3s cubic-bezier(0.19, 1, 0.22, 1);
    background-image: url('./mozilla-wordmark-black.svg');
    background-repeat: no-repeat;
    display: block;
    background-size: contain;
    overflow: hidden;
    text-indent: 120%;
    white-space: nowrap;
    background-color: color('white');
  }

  // Footer bottom region.
  &__bottom {
    width: 100%;
    background: rgba(0,0,0,0.10);
    text-align: center;
  }

  &__copyrights {
    @include line-height(19px);
    opacity: .75;
    padding-top: 14px;
    padding-bottom: 17px;
  }
}
