@import "../../base-styles/init/init";

// Responsive 2-column grid
//
// The `.layout-2col` layout is a responsive grid layout that is:
// - 1 column at mobile sizes
// - 2 columns at tablet sizes
//
// The `.layout-2col` class is used on the container div for the layout. A *grid
// item* in the container can be created using the following class:
//  - '.layout-2col__col' : 1-column wide grid item.
//
// .layout-2col--with-horizontal-gutters - Gutters on both sides, needs wrapper with overflow hidden.
// .layout-2col--with-vertical-gutters - Gutters on top and bottom.
// .layout-2col--with-small-vertical-gutters - Half gutters on top and bottom.

.layout-2col,
%layout-2col {
  min-width: 100%;

  // Two columns
  @include breakpoint($tablet) {
    display: flex;
    flex-wrap: wrap;

    &--col,
    &__col {
      width: (100 / 2) * 1%;
      float: left;

      &:nth-child(2n + 1) {
        clear: left;
      }
    }
  }

  // Variant with horizontal gutters.
  &--with-horizontal-gutters {
    @include breakpoint($tablet ($desktop-large - 1px)) {
      margin-left: -$gutters-tablet / 2;
      margin-right: -$gutters-tablet / 2;

      .layout-2col,
      %layout-2col {
        // Two columns
        &--col,
        &__col {
          padding-left: $gutters-tablet / 2;
          padding-right: $gutters-tablet / 2;
        }
      }
    }

    @include breakpoint($desktop-large) {
      margin-left: -$gutters-desktop / 2;
      margin-right: -$gutters-desktop / 2;

      .layout-2col,
      %layout-2col {
        &--col,
        &__col {
          padding-left: $gutters-desktop / 2;
          padding-right: $gutters-desktop / 2;
        }
      }
    }
  }

  // Variant with top and bottom gutters.
  &--with-vertical-gutters {
    padding-top: $gutters-mobile / 2;
    padding-bottom: $gutters-mobile / 2;

    .layout-2col,
    %layout-2col {
      &--col,
      &__col {
        padding-top: $gutters-mobile / 2;
        padding-bottom: $gutters-mobile / 2;
      }
    }

    // Two columns
    @include breakpoint($tablet) {
      padding-top: $gutters-tablet / 2;
      padding-bottom: $gutters-tablet / 2;

      .layout-2col,
      %layout-2col {
        &--col,
        &__col {
          padding-top: $gutters-tablet / 2;
          padding-bottom: $gutters-tablet / 2;
        }
      }
    }

    @include breakpoint($desktop-large) {
      padding-top: $gutters-desktop / 2;
      padding-bottom: $gutters-desktop / 2;

      .layout-2col,
      %layout-2col {
        &--col,
        &__col {
          padding-top: $gutters-desktop / 2;
          padding-bottom: $gutters-desktop / 2;
        }
      }
    }
  }

  // Variant with top and bottom gutters.
  &--with-small-vertical-gutters {
    padding-top: $gutters-mobile / 4;
    padding-bottom: $gutters-mobile / 4;

    .layout-2col,
    %layout-2col {
      &--col,
      &__col {
        padding-top: $gutters-mobile / 4;
        padding-bottom: $gutters-mobile / 4;
      }
    }

    // Two columns
    @include breakpoint($tablet) {
      padding-top: $gutters-tablet / 4;
      padding-bottom: $gutters-tablet / 4;

      .layout-2col,
      %layout-2col {
        &--col,
        &__col {
          padding-top: $gutters-tablet / 4;
          padding-bottom: $gutters-tablet / 4;
        }
      }
    }

    @include breakpoint($desktop-large) {
      padding-top: $gutters-desktop / 4;
      padding-bottom: $gutters-desktop / 4;

      .layout-2col,
      %layout-2col {
        &--col,
        &__col {
          padding-top: $gutters-desktop / 4;
          padding-bottom: $gutters-desktop / 4;
        }
      }
    }
  }
}
