@import './../../base-styles/init/init.scss';

/*
  Text with standard prefix. Highlights the variable value.
*/

.formated-text {
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;

  &__icon {
    display: inline-block;
    vertical-align: middle;
    color: color('brand');
    position: absolute;
    left: -37px; // icon size + distance from text
    top: 50%;
    transform: translateY(-50%);
  }

  &__text {
    display: inline-block;
  }

  &__prefix {
    font-weight: 300;
  }

  &__value {
    font-weight: 600;
  }

  &__secondary {
    display: block;
    font-weight: 300;
  }
}
