@import './../../base-styles/init/init.scss';

/*
  Text with standard prefix. Highlights the variable value.
*/

.formated-text {
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  word-break: break-all;

  &__icon {
    display: inline-block;
    color: color('brand');
    position: absolute;
    left: -33px; // icon size + distance from text
    top: 2px;
  }

  &__text {
    display: inline-block;
  }

  &__prefix {
    font-weight: 300;
  }

  &__value {
    font-weight: 600;
  }

  &__secondary {
    display: block;
    font-weight: 300;
  }
}
