@import './../../base-styles/init/init.scss';

.formated-text {
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;

  &__icon {
    display: inline-block;
    vertical-align: middle;
    color: color('brand');
    position: absolute;
    left: -33px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__text {
    display: inline-block;
  }

  &__prefix {
    font-weight: 300;
  }

  &__value {
    font-weight: 600;
  }

  &__secondary {
    display: block;
    font-weight: 300;
  }
}
