@import './../../base-styles/init/init';

.text-input {

  padding: 0;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.25);
  text-align: center;
  color: color('grey-dark');


  &:active,
  &:focus,
  &:hover  {
    border: none;
    padding: 0;
    border-bottom: 1px solid rgba(0,0,0,0.25);
  }

  &--member {
    display: inline-block;
  }

  &--member-name {

  }
}
