@import './../../base-styles/init/init';

// Text input.
//
// Styles text input.
//
// .text-input--member: input in member form
.text-input {
  padding: 0;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.25);
  text-align: center;
  color: color('grey-dark');

  &__label {
    @include typeface(title);
    @include font-size(18px);
    @include line-height(22px);
    color: color('title');
    font-weight: 500;
    padding-left: 0;
  }

  &:active,
  &:focus,
  &:hover  {
    border: none;
    padding: 0;
    border-bottom: 1px solid rgba(0,0,0,0.25);
  }

  &--member {
    display: inline-block;
  }

  &:invalid {
    border-color: color('red');

    &:active,
    &:focus,
    &:hover {
      border-color: color('red');
    }
  }
}
