@import './../../base-styles/init/init.scss';

//  External link box
//
//  External links in shadow box with image title and link.
.external-link-box {
  display: flex;

  &__wrapper-link {
    display: flex;
    width: 160px;
    height: 100%;
    flex-direction: column;
    max-width: 160px;
    min-height: 120px;

    @include breakpoint($tablet) {
      max-width: 100%;
      width: 100%;
    }
  }

  &__link-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__image-wrapper {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    flex-grow: 0;
  }

  &__image {
    width: auto;
    max-width: 100px;
    height: auto;
    max-height: 45px;
  }

  &__text {
    @include font-size(14px);
    @include line-height(16px);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 2;
    padding: 10px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    position: relative;
    z-index: 1;

    &:after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: color('grey-dark-another');
      z-index: -1;
      opacity: .25;
    }
  }

  &__title {
    color: color('black');
  }

  &__date {
    display: block;
    text-align: right;
    color: color('grey-another');
  }

  &__list {
    display: flex;
  }

  &__list-wrapper {
    margin-top: 35px;
  }

  &__url {
    @include font-size(10px);
    @include line-height(11px);
    color: color('grey-another');
    display: block;
    margin-top: auto;
    padding-top: 5px;
    width: 100%;
  }
}
