@import './../base-styles/init/init';

//  About us
//
//  Themes the  about us page.
.about-us {
  &__break {
    @include margin-top(30px);
    @include margin-bottom(30px);
  }

  &__text {
    margin-bottom: 0;

    ul {
      margin-top: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__list-title {
    margin-bottom: 0;
  }

  &__highlighted {
    margin-top: 0;
  }

  &__slice {
    @include margin-top(1.5);

    @include breakpoint($desktop) {
      @include margin-top(2);
    }

    &--first {
      @include margin-top(1.5);

      @include breakpoint($desktop) {
        @include margin-top(2.5);
      }
    }
  }
}
