@import './../base-styles/init/init';

.faq {
  &__header {
    text-align: center;
    margin-bottom: 84px;
  }

  &__subtitle-text {
    display: inline-block;
    position: relative;
  }

  &__header-shape {
    position: absolute;

    &--square {
      top: -57px;
      left: 32px;
      width: 82px;
      height: 82px;
      transform: translateX(-50%) rotate(25deg);
      z-index: -1;
      opacity: 0.44;
    }

    &--waves {
      width: 132px;
      height: 78px;

      @include breakpoint($tablet) {
        right: -160px;
      }
    }
  }

  &__group {
    @include margin-bottom(20px);

    @include breakpoint($tablet) {
      @include margin-bottom(31px);
    }


    &-header {
      width: 100%;
      text-align: center;
      padding-top: 15px;
      padding-left: 36px;
      padding-right: 15px;
      position: relative;
    }

    &-content {
      padding-left: 36px;
      padding-right: 15px
    }
  }

  &__icon {
    position: absolute;
    left: -21px;
    top: 5px;
    color: color('brand');
    transition: .2s cubic-bezier(.190, 1.000, .220, 1.000); /* easeOutExpo */
  }

  &__item {
    list-style: none;
    margin-bottom: 18px;

    &-content {
      color: color('grey');
      margin-top: 18px;
    }

    &-title {
      @include font-size(16px);
      @include line-height(24px);
      position: relative;
    }
  }

  &__footer {
    @include margin-top(90px);
    text-align: center;
    color: color('light-navy');
    font-family: $zilla-slab;

    p {
      @include font-size(20px);
    }

    a {
      text-decoration: underline;
    }
  }

  &__footer-title {
    @include font-size(28px);
    @include line-height(35px);
  }

  &__footer-text {
    position: relative;
    display: inline-block;
  }

  &__footer-shape {
    opacity: .5;
    width: 68px;
    position: absolute;
    bottom: -30px;
    left: 0px;

    @include breakpoint($tablet) {
      left: -20px;
    }
  }
}

// Expanded state.
.is-expanded {
  .faq__icon {
    transform: rotate(90deg);
  }
}
