@import './../base-styles/init/init';

//  Faq
//
//  Themes the FAQ page.
//
//  is-expanded: expanded state, rotates the icon near faq question.
.faq {
  &__header {
    text-align: center;
    margin-bottom: 44px;

    @include breakpoint($tablet) {
      margin-bottom: 84px;
    }
  }

  &__subtitle-text {
    @include margin-top(22px);
    display: inline-block;
    position: relative;
  }

  &__header-shape {
    position: absolute;

    &--square {
      top: -57px;
      left: 32px;
      width: 82px;
      height: 82px;
      transform: translate(-50%, 10px) rotate(25deg) scale(.7);
      z-index: -1;

      @include breakpoint($tablet) {
        transform: translateX(-50%) rotate(25deg) scale(1);
      }
    }

    &--waves {
      width: 132px;
      height: 78px;
      right: -60px;
      transform: scale(.7);

      @include breakpoint($tablet) {
        right: -160px;
        transform: scale(1);
      }
    }
  }

  &__group {
    @include margin-bottom(20px);

    @include breakpoint($tablet) {
      @include margin-bottom(31px);
    }

    &-header {
      width: 100%;
      text-align: center;
      padding-top: 15px;
      padding-left: 15px;
      padding-right: 15px;
      position: relative;
    }

    &-content {
      padding-left: 36px;
      padding-right: 15px
    }
  }

  &__icon {
    position: absolute;
    left: -21px;
    top: 5px;
    color: color('brand');
    transition: .2s cubic-bezier(.190, 1.000, .220, 1.000); /* easeOutExpo */
  }

  &__item {
    list-style: none;
    margin-bottom: 18px;

    &-content {
      color: color('grey');
      margin-top: 18px;
    }

    &-title {
      @include font-size(16px);
      @include line-height(24px);
      position: relative;
      text-align: left;
    }

    ul {
      list-style: disc;
      margin-top: 14px;
      margin-bottom: 14px;
    }
  }

  &__footer {
    @include margin-top(50px);
    text-align: center;
    color: color('light-navy');
    font-family: $zilla-slab;

    @include breakpoint($tablet) {
      @include margin-top(90px);
    }

    p {
      @include font-size(20px);
    }

    a {
      text-decoration: underline;
    }
  }

  &__footer-title {
    @include typeface(body);
    @include font-size(20px);
    @include line-height(28px);
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 35px;
    letter-spacing: normal;
    text-align: center;
    padding-bottom: 5px;

    @include breakpoint($tablet) {
      @include font-size(28px);
      @include line-height(35px);
    }
  }

  &__footer-text {
    position: relative;
    display: inline-block;
    padding-bottom: 35px;
  }

  &__footer-shape {
    opacity: .5;
    position: absolute;
    bottom: 0;
    left: -28px;
    right: auto;
    width: 95px;
    transform: scale(.7);

    @include breakpoint($tablet) {
      left: -23px;
      transform: scale(1);
    }
  }
}

// Expanded state.
.is-expanded {
  .faq__icon {
    transform: rotate(90deg);
  }
}
