@import './../base-styles/init/init';

.faq {
  &__header {
    text-align: center;
    margin-bottom: 84px;
  }

  &__group {
    margin-bottom: 31px;

  }

  &__group {
    &-header {
      width: 100%;
      text-align: center;
      padding-top: 15px;
      padding-left: 36px;
      padding-right: 15px;
      position: relative;
    }

    &-content {
      padding-left: 36px;
      padding-right: 15px
    }
  }

  &__icon {
    position: absolute;
    left: -21px;
    top: 5px;
    color: color('brand');
  }

  &__item {
    list-style: none;

    &-content {
      color: color('grey');
    }

    &-title {
      position: relative;
    }
  }

  &__footer {
    text-align: center;
    color: color('light-navy');
    @include margin-top(90px);
  }

  &__footer-title {
    @include font-size(28px);
    @include line-height(35px);
  }
}
