@import './../base-styles/init/init';

/*
  Style for the club listing page.
  Alters the layout of filter components.
*/

.find-club {
  &__header {
    @include margin-bottom(50px);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    @include breakpoint($tablet) {
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }

  &__filters-wrapper {
    @include margin-top(20px);
    display: flex;
    width: 100%;
    justify-content: flex-start;

    @include breakpoint($tablet) {
      @include margin-top(0);
      display: block;
      float: right;
    }
  }

  &__filter {
    &-toggle {
      padding: 0 10px;
      width: 100%;
    }

    &-search {
      padding: 0 10px 0 15px;
      border-top: 1px solid color('grey-basic');

      @include breakpoint($mobile) {
        border: none;
        width: auto;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          height: 100%;
          width: 1px;
          display: inline-block;
          background-color: color('grey-basic');
          top: 0;
          left: 0;
        }
      }

    }
  }

  &__filters-wrapper-inner {
    min-width: unset;
    width: 100%;
    padding: 0;

    @include breakpoint($mobile) {
      display: flex;
      justify-content: space-between;

      margin-left: auto;
      flex-wrap: nowrap;
    }

    @include breakpoint($tablet) {
      max-width: 540px;
    }

    .filter {
      position: relative;

      &--search {
        width:100%;


        @include breakpoint($tablet) {
          width: auto;
        }

        label {
          padding: 0;
          color: color('blue-dark');

          svg {
            width: 15px;
            height: 15px;
            vertical-align: middle;
          }
        }

        input {
          &::placeholder {
            opacity: 1;
          }
        }
      }

      &--toggle {
        display: flex;
        justify-content: space-between;

        @include breakpoint($tablet) {
          justify-content: space-between;
        }
      }
    }
  }

  &__button-wrapper {
    text-align: center;
  }
}
