@import './../base-styles/init/init.scss';

// Styling specific for home page element.
.home-page {
  // What's happening title.
  &__page-title {
    margin: 0 auto;
    position: relative;

    &-wrapper {
      display: flex;
      padding-top: 38px;
      padding-bottom: 54px;

      @include breakpoint($tablet) {
        padding-top: 57px;
        padding-bottom: 83px;
      }
    }

    &-circle {
      position: absolute;
      transform: scale(.72);
      top: -24px;
      left: -20px;
      z-index: -1;

      @include breakpoint($tablet) {
        transform: scale(.95);
      }
    }

    &-wave-large {
      position: absolute;
      left: auto;
      bottom: -20px;
      right: 5px;
      transform: scale(1.3);
      width: 58px;
    }

    &-triangle {
      position: absolute;
      left: auto;
      top: auto;
      bottom: -75px;
      right: -73px;
      transform: scale(.27);
      z-index: -2;

      @include breakpoint($tablet) {
        right: -77px;
        bottom: -78px;
        transform: scale(0.423);
      }
    }
  }

  &__partners-section {
    @include padding-top(30px);

    @include breakpoint($tablet) {

      @include padding-top(2);
    }

    @include breakpoint($desktop) {
      @include padding-top(48px);
    }
  }
}
