@import './../../base-styles/init/init';

// Layout base
//
// Basic layout component, wraps all content and adds default top and bottom
// distances.
.layout-base,
%layout-base {
  padding-top: 120px;
  padding-bottom: 60px;
  overflow: hidden;

  @include breakpoint($tablet) {
    padding-top: 190px;
    padding-bottom: 100px;
  }
}
