@import './../../base-styles/init/init';

// Basic layout component.
.layout-base,
%layout-base {
  padding-top: 120px;
  padding-bottom: 60px;

  @include breakpoint($tablet) {
    padding-top: 190px;
    padding-bottom: 100px;
  }
}
