@import './../../base-styles/init/init.scss';

// Join the network CTA
//
// Join the network CTA is used to invite new members to the network,
//
// .image-box--tall - A tall CTA that appears at about-us page.

.join-cta {
  display: flex;
  width: 100%;
  max-width: 350px;
  @include margin-top(1);

  @include breakpoint($desktop) {
    @include margin-bottom(1);
    @include margin-top(0);
  }

  &__image {
    width: 100%;
    min-width: 100%;
  }

  &__text {
    @include typeface(title);
    min-width: 100%;
    width: 100%;
    transform: translateX(-100%);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 4px 24px;

    &-small {
      @include font-size(32px);
      @include line-height(38px);
      color: color('light-navy');

      + .join-cta__text-medium {
        margin-top: -15px;
      }
    }

    &-medium {
      @include font-size(48px);
      @include line-height(57px);
      color: color('light-navy');
    }

    &-large {
      @include font-size(72px);
      @include line-height(86px);
      color: color('pale-grey');

      + .join-cta__text-small {
        margin-top: -15px;
      }
    }
  }

  &__shape {
    width: 103px;
    margin-top: -9px;

    svg {
      width: 100%;
    }
  }

  &--tall {
    .join-cta {
      &__text {
        padding: 27px 30px;

        &-small {

          @include breakpoint($mobile $desktop - 1px) {
            @include font-size(39px);
            @include line-height(47px);
          }

          @include breakpoint($desktop-large) {
            @include font-size(39px);
            @include line-height(47px);
          }

          + .join-cta__text-medium {
            margin-top: -18px;
          }
        }

        &-medium {
          @include breakpoint($mobile $desktop - 1px) {
            @include font-size(59px);
            @include line-height(70px);
          }

          @include breakpoint($desktop-large) {
            @include font-size(59px);
            @include line-height(70px);
          }
        }

        &-large {
          @include breakpoint($mobile $desktop - 1px) {
            @include font-size(88px);
            @include line-height(106px);
          }

          @include breakpoint($desktop-large) {
            @include font-size(88px);
            @include line-height(106px);
          }

          + .join-cta__text-small {
            margin-top: -20px;
          }
        }
      }

      &__shape {
        @include breakpoint($mobile $desktop - 1px) {
          width: 125px;
        }

        @include breakpoint($desktop-large) {
          width: 125px;
        }
      }
    }
  }
}