@import './../../base-styles/init/init.scss';
// Shape
//
// Decorative shapes.
//
// Their size and transformation should be applied by the components that use
// them.
//
// .shape--triangle: an oxygen css triangle.
// .shape--triangle-2: an oxygen css triangle with larger angle.
// .shape--circle: a css circle.
// .shape--square: a css square.
// .shape--wave-large: a svg long wave.
// .shape--wave: a svg short wave.
// .shape--waves: three svg waves.
// .shape--cube: three svg waves.
// .shape--seafoam-blue: shape color is seafoam blue.
// .shape--dark-sky-blue: shape color is dark sky blue.
// .shape--sunny-yellow: shape color is sunny yellow.
// .shape--light-navy: shape color is light navy.
// .shape--divider: shape works as visual section divider.

.shape {
  display: inline-block;

  svg {
    width: 100%;
  }

  &--triangle {
    width: 0;
    height: 0;
    opacity: 0.15;
    border-left: 56px solid transparent;
    border-right: 56px solid transparent;
    border-bottom: 128px solid color('white');
  }

  &--triangle-2 {
    width: 0;
    height: 0;
    opacity: 0.15;
    border-left: 64px solid transparent;
    border-right: 64px solid transparent;
    border-bottom: 128px solid color('white');
  }

  &--circle {
    width: 86px;
    height: 86px;
    opacity: 0.55;
    background-color: color('white');
    border-radius: 50%;
  }

  &--square {
    width: 83px;
    height: 83px;
    opacity: 0.44;
    background-color: color('white');
  }

  &--seafoam-blue {
    &.shape {
      &--waves,
      &--wave-large,
      &--wave {
        .shape__svg-inner {
          stroke: color('seafoam-blue');
        }
      }

      &--cube {
        fill: color('seafoam-blue');
      }

      &--triangle-2,
      &--triangle {
        border-bottom-color: color('seafoam-blue');
      }

      &--square,
      &--circle {
        background-color: color('seafoam-blue');
      }
    }
  }

  &--dark-sky-blue {
    &.shape {
      &--waves,
      &--wave-large,
      &--wave {
        .shape__svg-inner {
          stroke: color('dark-sky-blue');
        }
      }

      &--cube {
        fill: color('dark-sky-blue');
      }

      &--triangle-2,
      &--triangle {
        border-bottom-color: color('dark-sky-blue');
      }

      &--square,
      &--circle {
        background-color: color('dark-sky-blue');
      }
    }
  }

  &--sunny-yellow {
    &.shape {
      &--waves,
      &--wave-large,
      &--wave {
        .shape__svg-inner {
          stroke: color('sunny-yellow');
        }
      }

      &--cube {
        fill: color('sunny-yellow');
      }

      &--triangle-2,
      &--triangle {
        border-bottom-color: color('sunny-yellow');
      }

      &--square,
      &--circle {
        background-color: color('sunny-yellow');
      }
    }
  }

  &--light-navy {
    &.shape {
      &--waves,
      &--wave-large,
      &--wave {
        .shape__svg-inner {
          stroke: color('light-navy');
        }
      }

      &--cube {
        fill: color('light-navy');
      }

      &--triangle-2,
      &--triangle {
        border-bottom-color: color('light-navy');
      }

      &--square,
      &--circle {
        background-color: color('light-navy');
      }
    }
  }

  &--divider {
    @include margin(1 auto);
    text-align: center;
    width: 76px;
    display: block;
  }
}
