@import './../../base-styles/init/init.scss';
/*
  Themes the information for a club.

  variants

  club-info__item-wrappe--major, the large list items.
  club-info__item-wrappe--map, with the map background.
  club-info__item-wrappe--graph, withe the graph background.
*/

.club-info {
  padding: 0;
  margin: 0;
  list-style: none;
  color: color('black');

  a {
    color: color('black');
  }

  &__wrapper {
    position: relative;
    border-radius: 2px;
    // overflow: hidden;
    max-width: 350px;
    width: 100%;
    display: block;
  }

  &__item-wrapper {
    @include padding-top(18px);
    @include padding-bottom(20px);
    display: flex;
    position: relative;
    z-index: 2;
    background-color: color('white');


    &::after {
      content: '';
      width: 100%;
      height: 1px;
      background-image: linear-gradient(to right, transparent 20%, color('grey-basic') 100%);
      position: absolute;
      bottom: 0;
    }

    &--major {
      @include padding-top(38px);
      @include padding-bottom(41px);
      background-repeat: no-repeat;
      background-size: auto 100%;
      background-position: right;
    }

    &--graph {
      background-image: url('./graph.png');
    }

    &--map {
      background-image: url('./map.png');
    }

    &:last-child {
      &::after {
        content: none;
      }
    }
  }

  &__item {
    display: inline-block;
    width: 100%;
    min-height: 100%;
    display: flex;
    padding-left: 65px;

  }

  &__shape {
    position: absolute;
    right: 0;
    bottom: -20px;
    transform-origin: 50% 50%;
    transform: rotate(10deg);
    z-index: 0;
    width: 195px;
    height: 195px;
  }
}
