@import './../../base-styles/init/init.scss';
//  Club info
//
//  Themes the information for a club.
//
//  club-info__item-wrapper--major, the large list items.
//  club-info__item-wrapper--map, with the map background.
//  club-info__item-wrapper--graph, withe the graph background.
//

.club-info {
  padding: 0;
  margin: 0;
  list-style: none;
  color: color('black');

  a {
    color: color('black');
  }

  &__wrapper {
    position: relative;
    border-radius: 2px;
    width: 100%;
    display: block;

    @include breakpoint($desktop) {
      max-width: 350px;
    }
  }

  &__item-wrapper {
    @include padding-top(9px);
    @include padding-bottom(10px);
    display: flex;
    position: relative;
    z-index: 2;
    background-color: color('white');

    @include breakpoint($desktop) {
      @include padding-top(18px);
      @include padding-bottom(20px);
    }

    &::after {
      content: '';
      width: 100%;
      height: 1px;
      background-image: linear-gradient(to right, transparent 20%, color('grey-basic') 100%);
      position: absolute;
      bottom: 0;
    }

    &--major {
      @include padding-top(19px);
      @include padding-bottom(20px);
      background-repeat: no-repeat;
      background-size: auto 100%;
      background-position: right;

      @include breakpoint($desktop) {
        @include padding-top(38px);
        @include padding-bottom(41px);
      }
    }

    &--graph {
      background-image: url('./graph.png');
    }

    &--map {
      background-image: url('./map.png');
    }

    &:last-child {
      &::after {
        content: none;
      }
    }
  }

  &__item {
    width: 100%;
    min-height: 100%;
    display: flex;
    padding-left: 50px;
    padding-right:20px;

    @include breakpoint($mobile) {
      @include padding-left(65px);
    }

    &--map {
      padding-right: 100px;
    }
  }

  &__shape-square {
    position: absolute;
    right: 0;
    bottom: -20px;
    transform-origin: 50% 50%;
    transform: rotate(10deg);
    width: 195px;
    height: 195px;
    z-index: -1; // to be hidden behind the become a member button.
  }

  &__shape-circle {
    position: absolute;
    bottom: -121px;
    transform: translateY(100%);
    left: 40px;
    height: 122px;
    width: 122px;
    opacity: .1;
  }
}
