@import './../../base-styles/init/init';

//  Filter
//
//  Styles filter component.
//
//  .filter--search: the search filter.
//  .filter--toggle: the toggle filter.
.filter {
  display: inline-block;

  &--search {
    position: relative;

    label {
      padding: 0;
    }

    input {
      padding: 13px 15px 13px 35px;
      border: none;

      &::placeholder {
        opacity: 1;
      }

      &:hover,
      &:focus {
        border: none;
      }
    }

  }

  &__search-icon {
    color: color('topaz');
    margin-bottom: 3px;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
  }

  &--toggle {
    display: flex;
    justify-content: flex-start;
    padding: 13px 15px;

    @include breakpoint($tablet) {
      justify-content: space-between;
    }
  }

  &__toggle-text {
    font-size: $base-font-size;
    line-height: $base-line-height;
    background-color: transparent;
    display: inline;
    padding: 0;
    letter-spacing: 0;

    &:hover,
    &:focus {
      background-color: transparent;
      color: color('brand');
    }
  }
}
