@import './../../base-styles/init/init';

.member {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 90px;

  &__inner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__card {
    max-width: 330px;
    width: 100%;
    position: relative;
    display: flex;

    &-inner {
      position: relative;
      z-index: 1;
      width: 100%;
      min-width: 100%;
      transform: translateX(-100%);
      padding: 30px 25px;
    }

    &-shape-wrapper {
      overflow: hidden;
      width: 100%;
      min-width: 100%;
      position: relative;
      z-index: 0;
    }

    // Shape positioning in card.
    .member__shape {
      position: absolute;
      z-index: 0;

      &--circle {
        left: 48%;
        top: -49px;
      }

      &--square {
        left: 50%;
        top: 0;
        transform: rotate(15deg) translate(-52%, -7%);
      }

      &--triangle {
        left: 27%;
        top: 30px;
      }
    }
  }

  &__name {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 275px;
    word-wrap: break-word;
  }

  &__divider {
   width: 45px;
  }

  &__image-wrapper {
    margin-top: -20%;
    width: 136px + 16px;
    height: 136px + 16px;
    border: 1px solid color('grey-another-extra-light');
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    background-color: color('white');
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
  }

  &__image-inner {
    width: 136px + 14px;
    height: 136px + 14px;
    border-radius: 100%;
    border: 7px solid color('white');
    overflow: hidden;
  }

  &__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__location {
    @include margin-top(8px);
    max-width: 275px;
    margin-left: auto;
    margin-right: auto;
    opacity: .6;
  }

  &__description {
    @include margin-top(19px);
    max-width: 275px;
    margin-left: auto;
    margin-right: auto;
  }

  &__club {
    max-width: 275px;
    margin-left: auto;
    margin-right: auto;
  }

  &__link-prefix {
    color: rgba(0,0,0,0.25);
  }

  &__link {
    @include margin-top(12px);
    max-width: 275px;
    word-break: break-all;
    margin-left: auto;
    margin-right: auto;
  }

  &__link-content {
    font-weight: 600;
  }

  &__icon {
    @include margin-right(10px);
    width: 24px;
    height: 24px;
    color: color('light-navy');
  }

  &__button {
    @include margin(10px);
    @include margin-top(35px);

    svg,
    span {
      vertical-align: middle;
    }

    span {
      display: inline-block;
      padding-left: 8px;
    }
  }

  &__form-input {
    padding: 0;
  }

  // Shapes.
  &__shape {
    &--circle {
      width: 218px;
      height: 218px;
      opacity: .3;
    }

    &--square {
      width: 208px;
      height: 208px;
      opacity: .44;
      transform: rotate(15deg);
    }

    &--triangle {
      transform: scale(1.8) rotate(-94deg);
      opacity: .3;
    }

    // Positioning.
    &-wrapper-left {
      position: absolute;
      display: inline-block;
      left: 40px;
      bottom: 90px;
      z-index: -1;

      .member__shape {
        &--triangle {
          position: relative;
          left: 40px;
        }

        &--circle {
          position: relative;
          bottom: -60px;
        }
      }
    }

    &-wrapper-right {
      position: absolute;
      right: 50px;
      top: 0;
      z-index: -1;
    }

  }

  &__checkbox {
    display: flex;
    align-items: flex-start;
    position: relative;
    padding-left: 5px;
    text-align: left;


    input {
      margin-top: 5px;
      position: absolute;
      left: 0;
    }
  }

  .member__text-field {
    padding: 0;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    text-align: center;
    color: color('grey-dark');


    &:active,
    &:focus,
    &:hover  {
      border: none;
      padding: 0;
      border-bottom: 1px solid rgba(0,0,0,0.25);
    }
  }
}
