@import './../../base-styles/init/init';

// Main header navigation
//
// These are the default styles applied to tha main mage navigation.

.main-navigation {
  ul {
    list-style: none;
  }

  &__item-wrapper {
    margin: 0;
    padding: 20px 0 0 0;
  }

  &__link {
    @include font-size(18px);
    @include line-height(27px);
    color: color('navigation');
    transition: .3s cubic-bezier(0.19, 1, 0.22, 1);
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;

    &:hover {
      color: color('navigation-hover');
    }

    &.is-active {
      color: color('navigation-hover');
    }
  }

  @include breakpoint($tablet) {
    display: flex;
    align-items: center;

    &__item {
      padding-right: 22px;
    }

    &__item-wrapper {
      display: flex;
      margin: 0;
      padding: 0;
      width: 100%;
      padding-top: 2px;

    }

    &__link {
      display: inline-block;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}
