@import './../../base-styles/init/init';

// Main header navigation
//
// These are the default styles applied to tha main mage navigation.
.main-navigation {
  ul {
    list-style: none;
  }

  &__item-wrapper {
    margin: 0;
    padding: 20px 0 0 0;

    &--user {
      vertical-align: middle;
      position: relative;
    }
  }

  &__user-wrapper {
    @include font-size(18px);
    @include line-height(27px);
    display: flex;
    align-items: center;
  }

  &__user-name-wrapper {
    margin-right: 20px;
  }

  &__link {
    @include font-size(18px);
    @include line-height(27px);
    color: color('navigation');
    transition: .3s cubic-bezier(0.19, 1, 0.22, 1);
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;

    &:hover {
      color: color('navigation-hover');
    }

    &.is-active {
      color: color('navigation-hover');
    }
  }

  @include breakpoint(0 $tablet - 1px) {
    &__user-name-wrapper {
      margin-right: 0;
      margin-left: 15px;
    }

    &__item:last-child {
      margin-bottom: 10px;
    }
  }

  @include breakpoint($tablet) {
    display: flex;
    align-items: center;

    &__item {
      padding-right: 22px;
    }

    &__user-wrapper {
      display: flex;

    }

    &__user-name-wrapper {
      order: 1;
    }

    &__user-image-wrapper {
      order: 2;
    }

    &__item-wrapper {
      display: flex;
      margin: 0;
      padding: 0;
      width: 100%;
      padding-top: 2px;

      &--logged-in {
        padding-left: 23px;

        &::before {
          content: '';
          width: 1px;
          height: 100%;
          background-color: rgba(155, 155, 155, 0.3);
          position: absolute;
          left: 0px;
        }
      }
    }

    &__link {
      display: inline-block;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}
