@import './../../base-styles/init/init.scss';

.opportunities-member {
  &__title {
    text-align: left;
  }

  &__text {
    display: inline-block;
    max-width: 730px;

    @include breakpoint($desktop) {
      padding-right: 40px;
    }
  }

  &__info {
    margin-bottom: 20px;

    @include breakpoint($tablet) {
      margin-bottom: 40px;
    }
  }
}
