@import './../../base-styles/init/init.scss';

.opportunities-member {

  &__title {
    text-align: left;
  }

  &__text {
    display: inline-block;
    max-width: 730px;
    margin-top: 20px;
  }

  &__info {
    margin-bottom: 20px;
    position: relative;

    @include breakpoint($tablet) {
      margin-bottom: 40px;
    }
  }

  &__shape {
    position: absolute;
    right: 0;
    bottom: -22px;
    transform: rotate(-105deg);
    z-index: -1;
  }
}
