@import './../../base-styles/init/init.scss';

.opportunities-member {

  &__title {
    text-align: left;
  }

  &__text {
    display: inline-block;
    max-width: 730px;
    margin-top: 20px;
  }

  &__info {
    margin-bottom: 20px;

    @include breakpoint($tablet) {
      margin-bottom: 40px;
    }
  }
}
