@import './../../base-styles/init/init.scss';

.promoted-box {
  padding: 22px 35px 40px;
  background-color: color('light-green');
  display: inline-block;

  &__title {
    @include font-size(20px);
    text-align: left;
    padding-bottom: 3px;
  }

  &__content {
  }

  &__item {
    margin-top: 17px;
  }
}
