.promoted-box {
  padding-top: 22px;
  padding-bottom: 40px;
  padding-left: 35px;
  padding-right: 35px;
  background-color: #d6f2e9;
  display: inline-block;

  &__title {
    text-align: left;
  }

  &__content {
    text-align: center;
  }

  li {
    list-style-type: none;
  }
}
