// Change the default sub-directory for the image-url() mixin.
$image-url-subdirectory: 'base/forms/components/progress-throbber';

// Progress throbber
//
// Shows the progress of a task using a throbber.
.progress-throbber,
%progress-throbber {
  display: inline-block;

  &__widget {
    background: image-url('progress-throbber.gif') no-repeat 0 -18px transparent;
    float: left;
    height: 15px;
    margin: 2px;
    width: 15px;

  }

  &__widget-in-tr {
    margin: 0 2px;
  }

  &__message {
    padding-left: 20px;
  }
}
