@import './../../init/init';

.slice {
  width: 100%;

  &--dark {
    @include breakpoint($tablet) {
      background-color: color('slice-bg');
    }
  }

  &--always-dark {
    background-color: color('slice-bg');
  }

  &--uncontained-on-mobile {
    display: flex;
  }
}