@import './../../init/init';

.slice {
  width: 100%;

  &--dark {
    @include breakpoint($tablet) {
      background-color: color('slice-bg');
    }
  }

  &--always-dark {
    background-color: color('slice-bg');
  }

  // Last element on page content. Needs to cover the bottom-padding.
  // The negative margin is equal to base layout padding.
  &--last {
    @include breakpoint($tablet) {
      padding-bottom: 100px;
      margin-bottom: -100px;
    }
  }
}